
# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: "profile.suite.ai.vision-vrb"
description: "Vision AI suite profile - Verified Reference Blueprints"
version: "1.0.0"
params:
  labels:
    profile_display_name: "Vision AI"
    group: "ai.vision"
    type: "suite"
    display_status: false
  requirements:
    # Hardware requirements
    cpu_min_cores: 2
    memory_min_gb: 5.0
    storage_total_min_gb: 64.0
    storage_min_gb: 10.0  # Free storage for test execution
    # Software requirements
    os_type:
      - "linux"
    docker_required: true
  assets:
    - id: "yolo11n"
      type: "model"
      source: "ultralytics"
      precision: "int8"
      format: "pt"
      export_args:
        dynamic: true
        half: true
    - id: "video_6891009"
      type: "video"
      name: "6891009-apple_1080p15.mp4"
      url: "https://www.pexels.com/download/video/6891009"
      sha256: "b30010389562c03a15dad0d5eaa34334bb58b28214f280815e22abddcb1dffb4"
      width: 1920
      height: 1080
      fps: 15
      codec: "h264"
    - id: "efficientnet_b0"
      type: "model"
      source: "files"
      url: 
        - xml: "https://raw.githubusercontent.com/dlstreamer/pipeline-zoo-models/ee73878abc6fb6d864e59a5cd80016de4fc1d194/storage/efficientnet-b0_INT8/FP16-INT8/efficientnet-b0.xml"
        - bin: "https://raw.githubusercontent.com/dlstreamer/pipeline-zoo-models/ee73878abc6fb6d864e59a5cd80016de4fc1d194/storage/efficientnet-b0_INT8/FP16-INT8/efficientnet-b0.bin"
      sha256:
        - xml: "e9f959bb05ea1dc4d4735acc62e3d959fa2982b82e9608325157ba3598b5b999"
        - bin: "2ee5a5ad5a9a1a00d057e50af5da56e3bf09f633f66e9f77b9a1915ab862c536"
      precision: "int8"  # exported model precision metadata
      format: "openvino"
    # File assets
    - id: "imagenet_2012.txt"
      type: "file"
      url: "https://raw.githubusercontent.com/open-edge-platform/edge-ai-libraries/3d2c76dcbc5b0f4aa0ac11d77873427c4c86fb22/libraries/dl-streamer/samples/labels/imagenet_2012.txt"
      sha256: "acf75ef0abe89694b19056e0796401068b459c457baa30335f240c7692857355"
      path: "./labels/imagenet_2012.txt"
    - id: "preproc-aspect-ratio.json"
      type: "file"
      url: "https://raw.githubusercontent.com/open-edge-platform/edge-ai-libraries/3d2c76dcbc5b0f4aa0ac11d77873427c4c86fb22/libraries/dl-streamer/samples/gstreamer/model_proc/public/preproc-aspect-ratio.json"
      sha256: "824db3e19e1e0a71caba8370606413b2bcd0d9339fb4c5b9535d4c3f2091095a"
      path: "./labels/preproc-aspect-ratio.json"
  target_fps: 14.95
  consecutive_timeout_threshold: 2 
  pipeline: |
    filesrc location=./videos/6891009-apple_1080p15.mp4
      ! ${DECODE_ELEMENTS}
      ! queue
      ! gvadetect batch-size=${BATCH_SIZE} model-instance-id=detection model=./models/yolo11n/int8/dynamic_half/yolo11n.xml 
          threshold=0.5
          device=${DEVICE_ID}
          ${INFERENCE_ELEMENTS}
      ! queue
      ! gvatrack tracking-type=zero-term-imageless
      ! queue 
      ! gvaclassify batch-size=${BATCH_SIZE} model-instance-id=classifier
          labels=./labels/imagenet_2012.txt
          model=./models/efficientnet_b0/int8/efficientnet-b0.xml
          model-proc=./labels/preproc-aspect-ratio.json
          device=${DEVICE_ID}
          ${INFERENCE_ELEMENTS}
          reclassify-interval=1
      ! queue
  pipeline_params:
    DECODE_ELEMENTS:
      default: "qtdemux ! h264parse ! avdec_h264 ! video/x-raw"
      cpu: "qtdemux ! h264parse ! avdec_h264 ! video/x-raw"
      npu: "qtdemux ! h264parse ! vah264dec ! capsfilter caps='video/x-raw(memory:VAMemory)'"
      igpu: "qtdemux ! h264parse ! va${RENDER_DEVICE}h264dec ! va${RENDER_DEVICE}postproc ! capsfilter caps='video/x-raw(memory:VAMemory)'"
      dgpu: "qtdemux ! h264parse ! va${RENDER_DEVICE}h264dec ! va${RENDER_DEVICE}postproc ! capsfilter caps='video/x-raw(memory:VAMemory)'"
    INFERENCE_ELEMENTS:
      default: "pre-process-backend=va-surface-sharing ie-config=GPU_THROUGHPUT_STREAMS=2 nireq=2"
      cpu: "pre-process-backend=opencv ie-config=CPU_THROUGHPUT_STREAMS=2 nireq=2"
      npu: "pre-process-backend=opencv nireq=4"
    BATCH_SIZE:
      default: "8"
      npu: "1"
    SINK_ELEMENT:
      default: "fakesink sync=false async=false"
    FPSCOUNTER_PROPS:
      default: ""

suites:
  - name: "ai"
    sub_suites:
      - name: "vision"

        tests:
          test_dlstreamer:
            params:              
              - test_id: "VSN-VRB-001"
                display_name: "DL Streamer Analysis - multi-stream 1080p15 H.264 gvadetect YOLO11n INT8 gvatrack gvaclassify EfficientNet-B0 INT8"
                devices: [cpu,igpu,dgpu,npu]

              - test_id: "VSN-VRB-002"
                display_name: "DL Streamer Analysis - multi-stream 1080p15 H.264 gvadetect YOLO11n INT8 gvatrack gvaclassify EfficientNet-B0 INT8 (CPU)"
                devices: [cpu]

              - test_id: "VSN-VRB-003"
                display_name: "DL Streamer Analysis - multi-stream 1080p15 H.264 gvadetect YOLO11n INT8 gvatrack gvaclassify EfficientNet-B0 INT8 (iGPU)"
                devices: [igpu]
                requirements:
                  igpu_required: true

              - test_id: "VSN-VRB-004"
                display_name: "DL Streamer Analysis - multi-stream 1080p15 H.264 gvadetect YOLO11n INT8 gvatrack gvaclassify EfficientNet-B0 INT8 (dGPU)"
                devices: [dgpu]
                requirements:
                  dgpu_required: true

              - test_id: "VSN-VRB-005"
                display_name: "DL Streamer Analysis - multi-stream 1080p15 H.264 gvadetect YOLO11n INT8 gvatrack gvaclassify EfficientNet-B0 INT8 (NPU)"
                devices: [npu]
                requirements:
                  npu_required: true
                