# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: "profile.suite.ai.vision"
description: "Vision AI suite profile"
version: "1.0.0"
params:
  labels:
    profile_display_name: "Vision AI"
    group: "ai.vision"
    type: "suite"
    display_status: false
  requirements:
    # Hardware requirements
    cpu_min_cores: 2
    memory_min_gb: 5.0
    storage_total_min_gb: 64.0
    storage_min_gb: 10.0  # Free storage for test execution
    # Software requirements
    os_type:
      - "linux"
    docker_required: true
  assets:
    - id: "video_1192116"
      type: "video"
      name: "1192116-hd_1920_1080_15fps_30s.mp4"
      url: "https://videos.pexels.com/video-files/1192116/1192116-hd_1920_1080_30fps.mp4"
      sha256: "65d836330fda9cfe6aa7a6bb4b2a81df4897325133da096b275e40b359e2d4ea"
      fps: 15
      duration: 30
    - id: "yolo11n"
      type: "model"
      source: "ultralytics"
      precision: "fp16"
      format: "pt"
  pipeline_params:
    DECODE_ELEMENTS:
      cpu: "parsebin ! avdec_h264 ! 'video/x-raw'"
      gpu_integrated: "parsebin ! vah264dec ! vapostproc ! 'video/x-raw(memory:VAMemory)'"
      gpu_discrete: "parsebin ! varenderD{RENDER_DEVICE_NUM}h264dec ! {VIDEO_RAW_TYPE}"
      npu: "parsebin ! vah264dec ! 'video/x-raw(memory:VAMemory)'"
    INFERENCE_ELEMENTS:
      cpu: "pre-process-backend={PRE_PROCESS_BACKEND}"
      gpu_integrated: "pre-process-backend={PRE_PROCESS_BACKEND} model-instance-id=inst0"
      gpu_discrete: "pre-process-backend={PRE_PROCESS_BACKEND}"
      npu: "pre-process-backend={PRE_PROCESS_BACKEND}"
    PRE_PROCESS_BACKEND:
      cpu: "ie"
      gpu_integrated: "va-surface-sharing"
      gpu_discrete: "va-surface-sharing"
      npu: "va"
    VIDEO_RAW_TYPE:
      default: "'video/x-raw(memory:VAMemory)'"
      overrides:
        FULL_DEVICE_NAME:
          "Intel(R) Unsupported video type": "'video/x-raw'"

suites:
  - name: "ai"
    sub_suites:
      - name: "vision"

        tests:
          test_dlstreamer:
            params:
              - test_id: "VSN-DLS-001"
                display_name: "DL Streamer Benchmark - multi-stream 1080p15 H.264 gvadetect YOLO11n FP16"
                pipeline: |
                  filesrc location=./videos/1192116-hd_1920_1080_15fps_30s.mp4
                    ! ${DECODE_ELEMENTS}
                    ! gvadetect model=./models/yolo11n/fp16/yolo11n.xml device=${DEVICE_ID} ${INFERENCE_ELEMENTS} batch-size=1
                    ! queue
                devices: [cpu, igpu, dgpu, npu]

              - test_id: "VSN-DLS-002"
                display_name: "DL Streamer Benchmark - multi-stream 1080p15 H.264 gvadetect YOLO11n FP16 (CPU)"
                pipeline: |
                  filesrc location=./videos/1192116-hd_1920_1080_15fps_30s.mp4
                    ! ${DECODE_ELEMENTS}
                    ! gvadetect model=./models/yolo11n/fp16/yolo11n.xml device=${DEVICE_ID} ${INFERENCE_ELEMENTS} batch-size=1
                    ! queue
                devices: [cpu]

              - test_id: "VSN-DLS-003"
                display_name: "DL Streamer Benchmark - multi-stream 1080p15 H.264 gvadetect YOLO11n FP16 (iGPU)"
                pipeline: |
                  filesrc location=./videos/1192116-hd_1920_1080_15fps_30s.mp4
                    ! ${DECODE_ELEMENTS}
                    ! gvadetect model=./models/yolo11n/fp16/yolo11n.xml device=${DEVICE_ID} ${INFERENCE_ELEMENTS} batch-size=1
                    ! queue
                devices: [igpu]
                requirements:
                  igpu_required: true

              - test_id: "VSN-DLS-004"
                display_name: "DL Streamer Benchmark - multi-stream 1080p15 H.264 gvadetect YOLO11n FP16 (dGPU)"
                pipeline: |
                  filesrc location=./videos/1192116-hd_1920_1080_15fps_30s.mp4
                    ! ${DECODE_ELEMENTS}
                    ! gvadetect model=./models/yolo11n/fp16/yolo11n.xml device=${DEVICE_ID} ${INFERENCE_ELEMENTS} batch-size=1
                    ! queue
                devices: [dgpu]
                requirements:
                  dgpu_required: true

              - test_id: "VSN-DLS-005"
                display_name: "DL Streamer Benchmark - multi-stream 1080p15 H.264 gvadetect YOLO11n FP16 (NPU)"
                pipeline: |
                  filesrc location=./videos/1192116-hd_1920_1080_15fps_30s.mp4
                    ! ${DECODE_ELEMENTS}
                    ! gvadetect model=./models/yolo11n/fp16/yolo11n.xml device=${DEVICE_ID} ${INFERENCE_ELEMENTS} batch-size=1
                    ! queue
                devices: [npu]
                requirements:
                  npu_required: true
