
# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: "profile.suite.ai.vision-light"
description: "Vision AI suite profile - Light"
version: "1.0.0"
params:
  labels:
    profile_display_name: "Vision AI"
    group: "ai.vision"
    type: "suite"
    display_status: false
  requirements:
    # Hardware requirements
    cpu_min_cores: 2
    memory_min_gb: 5.0
    storage_total_min_gb: 64.0
    storage_min_gb: 10.0  # Free storage for test execution
    # Software requirements
    os_type:
      - "linux"
    docker_required: true
  assets:
    - id: "video_18856748"
      type: "video"
      name: "18856748-bears_1920_1080_30fps_30s.h265"
      url: "https://videos.pexels.com/video-files/18856748/18856748-uhd_3840_2160_60fps.mp4"
      sha256: "2bcbd55f8ab8f34cbce33af0a7f372c2d4648b4386249728ba4c6cd51e8d7985"
      width: 1920
      height: 1080
      fps: 30
      codec: "h265"
      loop: 120 # Loop to achieve ~120s duration
    - id: "yolo11n"
      type: "model"
      source: "ultralytics"
      precision: "int8"
      format: "pt"
      export_args:
        dynamic: true
        half: true
    - id: "resnet-50"
      type: "model"
      source: "kagglehub"
      precision: "int8"
      format: "openvino"
      kaggle_handle: "google/resnet-v1/tensorFlow2/50-classification"
      convert_args:
        input_shape: [1, 224, 224, 3]
        input_layout: "NHWC"
        tensor_layout: "NCHW"
      quantize_args:
        calibration_samples: 512
        calibration_dataset: "cifar100"
    - id: "resnet-50-optimized-model-proc"
      type: "file"
      url: "https://raw.githubusercontent.com/open-edge-platform/edge-ai-libraries/14bc74481d4535ee45848a7e5ad54f85754e0576/libraries/dl-streamer/samples/gstreamer/model_proc/public/classification-optimized.json"
      sha256: "27195581b907f35669ff7a127a7a6c3d0779e2c8240c889e0e7441c1c6f4a5ce"
      path: "./models/resnet-50/resnet-50-optimized.json"
  target_fps: 28.5
  pipeline_timeout: 180
  pipeline: |
    filesrc location=./videos/18856748-bears_1920_1080_30fps_30s.h265
      ! ${DECODE_ELEMENTS}
      ! queue
      ! gvadetect model=./models/yolo11n/int8/dynamic_half/yolo11n.xml 
          device=${DEVICE_ID}
          ${INFERENCE_ELEMENTS}
          batch-size=${BATCH_SIZE}
          inference-interval=3 
          threshold=0.5
          model-instance-id=yolov11n
      ! queue
      ! gvatrack tracking-type=1 config=tracking_per_class=false
      ! queue 
      ! gvaclassify model=./models/resnet-50/int8/resnet-50.xml
          model-proc=./models/resnet-50/resnet-50-optimized.json
          device=${DEVICE_ID}
          ${INFERENCE_ELEMENTS}
          batch-size=${BATCH_SIZE}
          inference-interval=3 
          inference-region=1
          model-instance-id=resnet50 
      ! queue
  pipeline_params:
    DECODE_ELEMENTS:
      default: "h265parse ! avdec_h265 ! capsfilter caps='video/x-raw'"
      cpu: "h265parse ! avdec_h265 ! capsfilter caps='video/x-raw'"
      npu: "h265parse ! vah265dec ! capsfilter caps='video/x-raw(memory:VAMemory)'"
      igpu: "h265parse ! vah265dec ! capsfilter caps='video/x-raw(memory:VAMemory)'"
      igpu_indexed: "h265parse ! vah265dec ! capsfilter caps='video/x-raw(memory:VAMemory)'"
      dgpu: "h265parse ! varenderD{RENDER_DEVICE_NUM}h265dec ! capsfilter caps='video/x-raw(memory:VAMemory)'"
      dgpu_primary: "h265parse ! vah265dec ! capsfilter caps='video/x-raw(memory:VAMemory)'"
      dgpu_indexed: "h265parse ! varenderD{RENDER_DEVICE_NUM}h265dec ! capsfilter caps='video/x-raw(memory:VAMemory)'"
    INFERENCE_ELEMENTS:
      default: "pre-process-backend=opencv nireq=2 ie-config=NUM_STREAMS=2"
      cpu: "pre-process-backend=opencv nireq=2 ie-config=NUM_STREAMS=2"
      npu: "pre-process-backend=opencv nireq=4"
      igpu: "pre-process-backend=va-surface-sharing nireq=2 ie-config=NUM_STREAMS=2"
      igpu_indexed: "pre-process-backend=va-surface-sharing nireq=2 ie-config=NUM_STREAMS=2"
      dgpu: "pre-process-backend=va-surface-sharing nireq=2 ie-config=NUM_STREAMS=2"
      dgpu_primary: "pre-process-backend=va-surface-sharing nireq=2 ie-config=NUM_STREAMS=2"
      dgpu_indexed: "pre-process-backend=va-surface-sharing nireq=2 ie-config=NUM_STREAMS=2"
    BATCH_SIZE:
      default: "1"
      cpu: "1"
      npu: "1"
      igpu: "8"
      igpu_indexed: "8"
      dgpu: "8"
      dgpu_primary: "8"
      dgpu_indexed: "8"
    SINK_ELEMENT:
      default: "fakesink sync=true"
    FPSCOUNTER_PROPS:
      default: "starting-frame=2000"

suites:
  - name: "ai"
    sub_suites:
      - name: "vision"

        tests:
          test_dlstreamer:
            params:
              - test_id: "VSN-LGT-001"
                display_name: "DL Streamer Analysis - multi-stream 1080p30 H.265 gvadetect YOLO11n INT8 gvatrack gvaclassify ResNet50 INT8"
                devices: [cpu, igpu, dgpu, npu]

              - test_id: "VSN-LGT-002"
                display_name: "DL Streamer Analysis - multi-stream 1080p30 H.265 gvadetect YOLO11n INT8 gvatrack gvaclassify ResNet50 INT8 (CPU)"
                devices: [cpu]

              - test_id: "VSN-LGT-003"
                display_name: "DL Streamer Analysis - multi-stream 1080p30 H.265 gvadetect YOLO11n INT8 gvatrack gvaclassify ResNet50 INT8 (iGPU)"
                devices: [igpu]
                requirements:
                  igpu_required: true

              - test_id: "VSN-LGT-004"
                display_name: "DL Streamer Analysis - multi-stream 1080p30 H.265 gvadetect YOLO11n INT8 gvatrack gvaclassify ResNet50 INT8 (dGPU)"
                devices: [dgpu]
                requirements:
                  dgpu_required: true

              - test_id: "VSN-LGT-005"
                display_name: "DL Streamer Analysis - multi-stream 1080p30 H.265 gvadetect YOLO11n INT8 gvatrack gvaclassify ResNet50 INT8 (NPU)"
                devices: [npu]
                requirements:
                  npu_required: true
            