# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: "profile.vertical.retail-lp"
display_name: "Retail Loss Prevention"
description: "Retail Loss Prevention Suites"
version: "1.0.0"
params:
  labels:
    profile_display_name: "Retail"
    group: "retail"
    type: "vertical"
    display_status: false
  requirements:
    os_type:
      - "linux"
    docker_required: true
  assets:
    - id: "items-in-basket-32658421"
      type: "video"
      name: "items-in-basket-32658421-1080-15-bench.mp4"
      url: "https://www.pexels.com/download/video/32658421"
      sha256: "9e402cadfa1402fd6cc9db1d45a95f249d1cb14d16e1d9238a21f199ba9eee81"
      width: 1920
      height: 1080
      fps: 15
      codec: "h264"
    - id: "hidden-items-product-switching-32658426"
      type: "video"
      name: "hidden-items-product-switching-32658426-1080-15-bench.mp4"
      url: "https://www.pexels.com/download/video/32658426"
      sha256: "734fd6a81888070e66955eaf137a605ba21c292dc24655ef63e1149cf6e75a70"
      width: 1920
      height: 1080
      fps: 15
      codec: "h264"
    - id: "fake-scan-detection-34225994"
      type: "video"
      name: "fake-scan-detection-34225994-1920-15-bench.mp4"
      url: "https://www.pexels.com/download/video/34225994"
      sha256: "85375581d90753289173de4f7cfec0fed80ff8e5182587fd325b94f0faaf0e98"
      width: 1920
      height: 1080
      fps: 15
      codec: "h264"
    - id: "yolo11n"
      type: "model"
      source: "ultralytics"
      precision: "int8"
      format: "pt"
    - id: "efficientnet_b0"
      type: "model"
      source: "files"
      url: 
        - xml: "https://raw.githubusercontent.com/dlstreamer/pipeline-zoo-models/ee73878abc6fb6d864e59a5cd80016de4fc1d194/storage/efficientnet-b0_INT8/FP16-INT8/efficientnet-b0.xml"
        - bin: "https://raw.githubusercontent.com/dlstreamer/pipeline-zoo-models/ee73878abc6fb6d864e59a5cd80016de4fc1d194/storage/efficientnet-b0_INT8/FP16-INT8/efficientnet-b0.bin"
      sha256:
        - xml: "e9f959bb05ea1dc4d4735acc62e3d959fa2982b82e9608325157ba3598b5b999"
        - bin: "2ee5a5ad5a9a1a00d057e50af5da56e3bf09f633f66e9f77b9a1915ab862c536"
      precision: "int8"  # exported model precision metadata
      format: "openvino"
    # File assets
    - id: "imagenet_2012.txt"
      type: "file"
      url: "https://raw.githubusercontent.com/open-edge-platform/edge-ai-libraries/3d2c76dcbc5b0f4aa0ac11d77873427c4c86fb22/libraries/dl-streamer/samples/labels/imagenet_2012.txt"
      sha256: "acf75ef0abe89694b19056e0796401068b459c457baa30335f240c7692857355"
      path: "./labels/imagenet_2012.txt"
    - id: "preproc-aspect-ratio.json"
      type: "file"
      url: "https://raw.githubusercontent.com/open-edge-platform/edge-ai-libraries/3d2c76dcbc5b0f4aa0ac11d77873427c4c86fb22/libraries/dl-streamer/samples/gstreamer/model_proc/public/preproc-aspect-ratio.json"
      sha256: "824db3e19e1e0a71caba8370606413b2bcd0d9339fb4c5b9535d4c3f2091095a"
      path: "./labels/preproc-aspect-ratio.json"
    - id: "person_reid.py"
      type: "file"
      url: "https://raw.githubusercontent.com/intel-retail/loss-prevention/039566abeda0df01467e710db88a1ef3b70f812c/src/person_reid.py"
      sha256: "af144ec8d8e58425b006a54cb798185c71b3382943310aeb2df10624eba69a0d"
      path: "./labels/person_reid.py"
  target_fps: 10
  pipeline_params:
    DECODE_ELEMENTS:
      cpu: "qtdemux ! h264parse ! avdec_h264 ! 'video/x-raw'"
      igpu: "qtdemux ! h264parse ! va${RENDER_DEVICE}h264dec ! va${RENDER_DEVICE}postproc ! 'video/x-raw(memory:VAMemory)'"
      dgpu: "qtdemux ! h264parse ! va${RENDER_DEVICE}h264dec ! va${RENDER_DEVICE}postproc ! video/x-raw(memory:VAMemory)"
      npu: "qtdemux ! h264parse ! vah264dec ! vapostproc ! 'video/x-raw(memory:VAMemory)'"
    INFERENCE_ELEMENTS:
      cpu: "pre-process-backend={PRE_PROCESS_BACKEND} model-instance-id=odmode ie-config=CPU_THROUGHPUT_STREAMS=2 nireq=2"
      igpu: "pre-process-backend={PRE_PROCESS_BACKEND} model-instance-id=odmode ie-config=GPU_THROUGHPUT_STREAMS=2 nireq=2"
      dgpu: "pre-process-backend={PRE_PROCESS_BACKEND} model-instance-id=odmode"
      npu: "pre-process-backend={PRE_PROCESS_BACKEND} model-instance-id=odmode nireq=4"
    PRE_PROCESS_BACKEND:
      cpu: "opencv"
      igpu: "va-surface-sharing"
      dgpu: "va-surface-sharing"
      npu: "va-surface-sharing"
    VIDEO_RAW_TYPE:
      default: "'video/x-raw(memory:VAMemory)'"
      overrides:
        FULL_DEVICE_NAME:
          "Intel(R) Unsupported video type": "'video/x-raw'"
    SINK_ELEMENT:
      default: "fakesink sync=false async=false"

suites:
  - name: "ai"
    sub_suites:
      - name: "vision"
        tests:
          test_dlstreamer:
            params:
              - test_id: "RTL-LPP-001"
                display_name: "Loss Prevention - multi-stream 1080p15 Items-in-Basket H.264 gvadetect YOLO11n INT8 gvatrack gvaclassify EfficientNet-B0 INT8 (iGPU)"
                pipeline: |
                  filesrc location=./videos/items-in-basket-32658421-1080-15-bench.mp4
                    ! decodebin3 ! vapostproc ! "video/x-raw(memory:VAMemory)" ! gvaattachroi roi=335,900,1060,1340 
                    ! queue
                    ! gvadetect model-instance-id=detect1_1 threshold=0.5 batch-size=1 inference-region=1 model=./models/yolo11n/int8/yolo11n.xml device=GPU.0 pre-process-backend=va-surface-sharing ie-config=GPU_THROUGHPUT_STREAMS=2 nireq=2 pre-process-config=resize_type=standard 
                    ! gvatrack tracking-type=zero-term-imageless 
                    ! queue
                    ! gvaclassify model-instance-id=classify1_1 batch-size=1 model=./models/efficientnet_b0/int8/efficientnet-b0.xml device=GPU.0 labels=./labels/imagenet_2012.txt model-proc=./labels/preproc-aspect-ratio.json pre-process-backend=va-surface-sharing
                    ! queue
                devices: [igpu]
                requirements:
                  igpu_required: true

              - test_id: "RTL-LPP-002"
                display_name: "Loss Prevention - multi-stream 1080p15 Hidden-Items-Product-Switching H.264 gvadetect YOLO11n INT8 gvatrack gvaclassify EfficientNet-B0 INT8 (iGPU)"
                pipeline: |
                  filesrc location=./videos/hidden-items-product-switching-32658426-1080-15-bench.mp4
                    ! decodebin3 ! vapostproc ! "video/x-raw(memory:VAMemory)" ! gvaattachroi roi=335,900,1060,1340 
                    ! queue
                    ! gvadetect model-instance-id=detect2_1 threshold=0.5 batch-size=1 inference-region=1 model=./models/yolo11n/int8/yolo11n.xml device=GPU.0 pre-process-backend=va-surface-sharing ie-config=GPU_THROUGHPUT_STREAMS=2 nireq=2 pre-process-config=resize_type=standard
                    ! gvatrack tracking-type=zero-term-imageless 
                    ! queue
                    ! gvaclassify model-instance-id=classify2_1 batch-size=1 model=./models/efficientnet_b0/int8/efficientnet-b0.xml device=GPU.0 labels=./labels/imagenet_2012.txt model-proc=./labels/preproc-aspect-ratio.json pre-process-backend=va-surface-sharing
                    ! queue
                devices: [igpu]
                requirements:
                  igpu_required: true

              - test_id: "RTL-LPP-003"
                display_name: "Loss Prevention - multi-stream 1080p15 Fake-Scan-Detection H.264 gvadetect YOLO11n INT8 gvatrack gvaclassify EfficientNet-B0 INT8 (iGPU)"
                pipeline: |
                  filesrc location=./videos/fake-scan-detection-34225994-1920-15-bench.mp4
                    ! decodebin3 ! vapostproc ! "video/x-raw(memory:VAMemory)" ! gvaattachroi roi=25,535,1300,1085
                    ! queue
                    ! gvadetect model-instance-id=detect3_1 threshold=0.5 batch-size=1 inference-region=1 model=./models/yolo11n/int8/yolo11n.xml device=GPU.0 pre-process-backend=va-surface-sharing ie-config=GPU_THROUGHPUT_STREAMS=2 nireq=2 pre-process-config=resize_type=standard
                    ! gvatrack tracking-type=zero-term-imageless 
                    ! queue
                    ! gvaclassify model-instance-id=classify3_1 batch-size=1 model=./models/efficientnet_b0/int8/efficientnet-b0.xml device=GPU.0 labels=./labels/imagenet_2012.txt model-proc=./labels/preproc-aspect-ratio.json pre-process-backend=va-surface-sharing
                    ! queue
                devices: [igpu]
                requirements:
                  igpu_required: true

              - test_id: "RTL-LPP-004"
                display_name: "Loss Prevention - multi-stream 1080p15 H.264 gvadetect YOLO11n INT8 gvatrack gvaclassify EfficientNet-B0 INT8 (iGPU)"
                pipeline: |
                  filesrc location=./videos/items-in-basket-32658421-1080-15-bench.mp4
                    ! decodebin3 ! vapostproc ! "video/x-raw(memory:VAMemory)" ! gvaattachroi roi=335,900,1060,1340 
                    ! queue
                    ! gvadetect model-instance-id=detect1_1 threshold=0.5 batch-size=1 inference-region=1 model=./models/yolo11n/int8/yolo11n.xml device=GPU.0 pre-process-backend=va-surface-sharing ie-config=GPU_THROUGHPUT_STREAMS=2 nireq=2 pre-process-config=resize_type=standard 
                    ! gvatrack tracking-type=zero-term-imageless 
                    ! queue
                    ! gvaclassify model-instance-id=classify1_1 batch-size=1 model=./models/efficientnet_b0/int8/efficientnet-b0.xml device=GPU.0 labels=./labels/imagenet_2012.txt model-proc=./labels/preproc-aspect-ratio.json pre-process-backend=va-surface-sharing
                    ! queue
                    ! gvafpscounter ! fakesink sync=false async=false
                  filesrc location=./videos/hidden-items-product-switching-32658426-1080-15-bench.mp4
                    ! decodebin3 ! vapostproc ! "video/x-raw(memory:VAMemory)" ! gvaattachroi roi=335,900,1060,1340 
                    ! queue
                    ! gvadetect model-instance-id=detect2_1 threshold=0.5 batch-size=1 inference-region=1 model=./models/yolo11n/int8/yolo11n.xml device=GPU.0 pre-process-backend=va-surface-sharing ie-config=GPU_THROUGHPUT_STREAMS=2 nireq=2 pre-process-config=resize_type=standard
                    ! gvatrack tracking-type=zero-term-imageless 
                    ! queue
                    ! gvaclassify model-instance-id=classify2_1 batch-size=1 model=./models/efficientnet_b0/int8/efficientnet-b0.xml device=GPU.0 labels=./labels/imagenet_2012.txt model-proc=./labels/preproc-aspect-ratio.json pre-process-backend=va-surface-sharing
                    ! queue
                    ! gvafpscounter ! fakesink sync=false async=false
                  filesrc location=./videos/fake-scan-detection-34225994-1920-15-bench.mp4
                    ! decodebin3 ! vapostproc ! "video/x-raw(memory:VAMemory)" ! gvaattachroi roi=25,535,1300,1085
                    ! queue
                    ! gvadetect model-instance-id=detect3_1 threshold=0.5 batch-size=1 inference-region=1 model=./models/yolo11n/int8/yolo11n.xml device=GPU.0 pre-process-backend=va-surface-sharing ie-config=GPU_THROUGHPUT_STREAMS=2 nireq=2 pre-process-config=resize_type=standard
                    ! gvatrack tracking-type=zero-term-imageless 
                    ! queue
                    ! gvaclassify model-instance-id=classify3_1 batch-size=1 model=./models/efficientnet_b0/int8/efficientnet-b0.xml device=GPU.0 labels=./labels/imagenet_2012.txt model-proc=./labels/preproc-aspect-ratio.json pre-process-backend=va-surface-sharing
                    ! queue
                devices: [igpu]
                requirements:
                  igpu_required: true